body {
  font-family: Helvetica;
  padding-top: 1em;
}
table,
tr,
td {
  margin-left: 1em;
  border: solid black 1px;
  width: 60px;
  height: 60px;
  border-collapse: collapse;
  vertical-align: middle;
  text-align: center;
  font-size: 30px;
  font-family: Helvetica;
  table-layout: fixed;
  background-color: white;
  padding: 0;
}
.p1 {
  background-color: rgb(124, 252, 0);
}
.p2 {
  background-color: rgb(250, 128, 114);
}
.empty {
  background-color: white;
}
.timerBar {
  height: 24px;
  width: 100%;
}
